.form {
  width: min(100%, 500px);
  padding: initial;
}

.button {
  margin: 0.5rem 0 !important;
  border: none;
  background-color: var(--color-primary);
  padding: 0.5rem !important;
  color: var(--color-text-bg-dark);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s linear;
}

.button:hover {
  background-color: var(--color-primary-hover);
}
