.form {
  display: flex;
  flex-direction: column;
  margin: 0 1rem;
}

.form:focus-visible {
  outline: initial;
}

.label {
  display: block;
  margin-bottom: 0.15rem;
  font-size: 0.75rem;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 0.25rem;
  padding: 0.25rem 0.5rem;
  width: 100%;
  resize: none;
}

.fieldset {
  margin-bottom: 0.25rem;
  border: none;
}

.button {
  padding: 0.5rem;
  color: var(--color-text-bg-dark);
  background-color: var(--color-primary);
  border: none;
}
