.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s linear;
}

.backdrop-enter {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
}

.backdrop-enter-active {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.3s linear;
}

.backdrop-exit {
  opacity: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

.backdrop-exit-active {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  transition: 0.3s linear;
}
