.loader {
  animation: spin 1s linear infinite;
  border: 1px solid var(--color-border-loader);
  border-top: 1px solid var(--color-primary);
  border-radius: 50%;
  width: 0.75rem;
  height: 0.75rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loaderBigger {
  width: 2rem;
  height: 2rem;
}

.loaderCenter {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 2rem;
  height: 2rem;
  transform: translate(-50%, -50%);
}
