.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 3.125rem;
  padding: 0 1rem;
  background-color: var(--background-color-footer);
  color: white;
  font-size: 0.75rem;
}
