.button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  max-width: fit-content;
  margin: initial;
  border: none;
}

.text {
  display: block;
  min-width: 2rem;
}
