.button {
  padding: 0.25rem 0.5rem;
  border: none;
  background-color: var(--color-primary);
  color: var(--color-text-bg-dark) !important;
  cursor: pointer;
  transition: 0.3s linear;
}

.button:hover {
  background-color: var(--color-primary-hover);
}
