/* .section {
  position: relative;
  flex: 1;
  padding: 0 1rem 1rem;
  margin: 0 auto;
  width: 100%;
  max-width: 75rem;
} */

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.title {
  color: var(--color-primary);
  text-transform: uppercase;
  font-weight: 500;
}

.list {
  line-height: 1;
}

.check {
  color: var(--color-success);
}

.unCheck {
  color: var(--color-negative);
}

.element {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.subTitle {
  min-width: 55px;
}
