.headerUpdateProfile {
  margin-bottom: 1rem;
  color: var(--color-text-primary);
}

.headerChangePassword {
  margin: 1rem 0;
  color: var(--color-text-primary);
}

.headerDeleteAccount {
  margin: 1rem 0;
  color: var(--color-text-primary);
}

.modalDeleteText {
  font-size: 14px;
}
