.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 0.5rem;
  grid-template-areas:
    'box1 box1'
    'box2 box2'
    'box3 box3';
  width: 100%;
}

.boxOne {
  grid-area: box1;
}

.boxTwo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  grid-area: box2;
}

.boxThree {
  grid-area: box3;
}

.title {
  text-transform: uppercase;
  color: var(--color-text-primary);
  font-family: var(--font-oswald);
}

.price {
  color: var(--color-text-primary);
  font-size: 1rem;
  font-family: var(--font-oswald);
  font-weight: 500;
}

.text {
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 14px;
}

.wrapperOnStock {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.onStock {
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  font-size: 14px;
}

@media (min-width: 35.938rem) {
  .container {
    grid-template-columns: 50% 1fr;
    grid-template-areas:
      'box1 box2'
      'box3 box3';
  }

  .subTitle {
    font-size: 1.2rem;
  }
}
