.header {
  height: 3.125rem;
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  box-shadow: 0px 1px 1px -1px var(--color-box-shadow-bottom);
  margin: 0 1rem 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-oswald);
}

li.menuItemLink {
  padding: initial;
}

.link {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--color-text-primary);
  text-decoration: none;
}
