.wrapper {
  display: grid;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: fit-content;
  grid-template-areas: 'buttonMinus input buttonPlus';
}

.input {
  grid-area: input;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 1rem;
  border-top: 1px solid var(--color-primary);
  border-bottom: 1px solid var(--color-primary);
}

.buttonMinus,
.buttonPlus {
  background-color: var(--color-primary);
  color: var(--color-text-bg-dark);
  transition: 0.3s linear;
  cursor: pointer;
}

.buttonMinus:hover,
.buttonPlus:hover {
  background-color: var(--color-primary-hover);
}

.buttonPlus {
  padding: 0.5rem 1rem;
  grid-area: buttonPlus;
  border-top-left-radius: initial;
  border-bottom-left-radius: initial;
}

.buttonMinus {
  padding: 0.5rem 1rem;
  grid-area: buttonMinus;
  border-top-right-radius: initial;
  border-bottom-right-radius: initial;
}
