.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.75rem 0.75rem;
}

.headerDelete {
  background-color: var(--color-negative);
}

.headerInfo {
  background-color: var(--color-primary);
}

.headerWarning {
  background-color: #ff851b;
}

.title {
  color: var(--color-text-bg-dark);
  font-size: 1rem;
  font-weight: 400;
}

.body {
  padding: 1rem 0.75rem 0;
  color: var(--color-text-primary);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0.5rem;
  padding: 0.75rem;
}
