<html>
  <head>
  </head>
  <body>
    <table
      class='table'
      role='presentation'
      border='0'
      cellpadding='0'
      cellspacing='0'
    >
      <tr>
        <td>
          <table
            align='center'
            border='0'
            cellpadding='0'
            cellspacing='0'
            class='main-table'
          >

            <tr>
              <td align='left' bgcolor='#fff' class='main-table__header'>
                <h1 class='main-table__title'>
                  <span class='main-table__title-letter'>S</span>HOPPY
                </h1>
              </td>
            </tr>
            <tr>
              <td bgcolor='#ffffff' class='main-table__body'>
                <table
                  border='0'
                  cellpadding='0'
                  cellspacing='0'
                  class='main-table__body-user'
                >
                  <table class='main-table__body-message'>
                    <tr>
                      <td>
                        <h5 class='main-table__body-title-1'>
                          Change password request:
                        </h5>
                        <p class='main-table__body-text'>
                          We received a request to change the password from user
                          with email
                          {{email}}
                          If you asked for it, click on the button below but if
                          you didn't ask for a password change, please ignore
                          this message.
                        </p>
                        <button class='main-table__body-button'>
                          <a
                            class='main-table__body-link'
                            href='{{resetUrl}}'
                            style='color: #ffffff; text-decoration: none;'
                          >Click to change password</a>
                        </button>
                      </td>
                    </tr>
                  </table>
                  <tr>
                    <td class='main-table__footer'>
                      <table
                        border='0'
                        cellpadding='0'
                        cellspacing='0'
                        width='100%'
                        style='border-collapse: collapse'
                      >
                        <tr>
                          <td>
                            <p class='main-table__footer-text'>
                              &reg; SHOPPY, All rights reserved &copy;
                              {{currentYear}}<br />
                            </p>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>