.table {
  width: 100%;
  border-collapse: collapse;
  background-color: transparent;
  border-radius: 2px;
}

.tr {
  border-left: 1px solid var(--color-border-table);
  border-right: 1px solid var(--color-border-table);
}

.trTitle {
  border-left-color: var(--color-primary);
  border-right-color: var(--color-primary);
}

.title {
  margin: 0;
}

.tr:nth-of-type(even) {
  background-color: var(--color-surface-row-table);
}

.td {
  padding: 8px;
  border-top: 1px solid var(--color-border-table);
  color: var(--color-text-primary);
  text-align: left;
  vertical-align: top;
  font-size: 13px;
}

.td:first-of-type {
  width: 120px;
}

.header {
  background-color: var(--color-primary);
  color: var(--color-text-white);
  text-transform: uppercase;
  letter-spacing: 1px;
  font-family: Arial, Helvetica, sans-serif;
}

.tr:last-of-type {
  border-bottom: 1px solid var(--color-border-table);
}
