.form {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  width: 100%;
  padding: initial;
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  width: fit-content;
}
