div.tabsPanel {
  display: initial;
}

.info {
  margin-bottom: 0.5rem;
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
