.aside {
  position: fixed;
  top: 0;
  right: 0;
  width: 15.625rem;
  height: 100%;
  background-color: var(--background-color-aside);
  z-index: 3;
  transform: translateX(15.625rem);
  transition: transform 0.3s linear;
}

.show {
  transform: translateX(0);
}

.header,
.headerCart {
  height: 3.125rem;
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  box-shadow: 0px 1px 1px -1px var(--color-box-shadow-bottom);
  margin: 0 1rem 0.5rem;
  text-transform: uppercase;
  font-family: var(--font-oswald);
}

.headerCart {
  justify-content: space-between;
}

.menuItem:first-child {
  padding: initial;
}

.link {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
  color: var(--color-text-primary);
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.15rem;
  margin: 0 1rem;
}

button.button {
  max-width: initial;
  width: calc(100% - 2rem);
  margin: 0 1rem;
  transform-origin: center;
}
