.aside {
  position: absolute;
  top: 0;
  right: -15.625rem;
  width: 15.625rem;
  height: 100%;
  background-color: var(--background-color-aside);
  z-index: 3;
  transition: right 0.5s linear;
}

.show {
  right: 0px;
}

.header {
  height: 3.125rem;
  display: flex;
  align-items: center;
  color: var(--color-text-primary);
  box-shadow: 0px 1px 1px -1px var(--color-box-shadow-bottom);
  margin: 0 1rem 0.5rem;
}
