.buttonConfirm,
.buttonConfirmFullWidth,
.buttonCancel,
.buttonDelete,
.buttonAddToCart,
.buttonRemoveItem,
.buttonProccedCheckout {
  border: none;
  padding: 0.25rem 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s linear;
}

button.buttonConfirmFullWidth {
  max-width: initial;
}

button.buttonConfirm,
button.buttonConfirmFullWidth {
  margin: 0.5rem 0;
}

.buttonAddToCart,
.buttonConfirm,
.buttonConfirmFullWidth,
.buttonRemoveItem,
.buttonProccedCheckout {
  background-color: var(--color-primary);
  color: var(--color-text-bg-dark);
}

.buttonConfirm:hover,
.buttonConfirmFullWidth:hover,
.buttonAddToCart:hover,
.buttonRemoveItem:hover,
.buttonProccedCheckout:hover {
  background-color: var(--color-primary-hover);
}

button.buttonCancel {
  background-color: transparent;
  border: 1px solid var(--color-secondary);
  color: var(--color-text-primary);
}

.buttonCancel:hover {
  background-color: var(--color-secondary-hover);
}

button.buttonModalClose {
  padding: 1px 6px;
  margin: 0;
  font-size: 12px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  cursor: pointer;
  transition: 0.3s linear;
}

.buttonModalClose:hover {
  background-color: var(--color-secondary-hover);
  color: var(--color-text-primary);
}

.buttonDelete {
  background-color: var(--color-negative);
  color: var(--color-text-bg-dark);
}

.buttonDelete:hover {
  background-color: var(--color-negative-hover);
}

button.buttonAddToCart:disabled,
button.buttonProccedCheckout:disabled {
  background-color: var(--background-disabled);
}

/* from 575px */
@media (min-width: 35.938rem) {
  .buttonConfirm,
  .buttonConfirmFullWidth,
  .buttonCancel,
  .buttonDelete,
  .buttonAddToCart,
  .buttonRemoveItem,
  .buttonProccedCheckout {
    padding: 0.5rem 1rem;
  }
}
