* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Primary */
  --color-primary: #1976d2;
  --color-primary-light: #1976d2;
  --color-primary-light-hover: #1565c0;

  /* Secondary */
  /* --color-secondary: #e74c3c;
  --color-secondary-light: #ec7063;
  --color-secondary-dark: #943126; */

  /* Text */
  --color-text-primary: #555555;
  --color-text-bg-dark: white;
  --color-text-placeholder: #555555;

  /* Feedback */
  --color-success: #28a745;
  --color-error: #dc3545;
  --color-warning: #ffc107;
  --color-info: #17a2b8;

  --background-color: #ffffff;
  --background-color-aside: #ffffff;
  --background-color-header: #ffffff;
  --background-color-footer: #444444;
  --background-color-menu-item-hover: #a7a7a73b;

  --color-border-input: #cccccc;
  --color-border-loader: #dddddd;
  --color-box-shadow-bottom: rgba(0, 0, 0, 0.16);
}

[data-theme='dark'] {
  --color-primary: #1976d2;
  --color-primary-light: #2196f3;
  --color-primary-light-hover: #1769aa;

  --color-text-primary: #ffffff;
  --color-text-bg-dark: white;
  --color-text-placeholder: #bbbbbb;

  --background-color: #333333;
  --background-color-aside: #444444;
  --background-color-header: #444444;
  --background-color-footer: #444444;
  --background-color-menu-item-hover: #a7a7a73b;

  --color-border-input: #757575;
  --color-border-loader: #dddddd;
  --color-box-shadow-bottom: rgba(255, 255, 255, 0.5);
}

html {
  overflow: hidden;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: var(--background-color);
  height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  font-family: var(--font-roboto);
}

a:link,
a:visited {
  cursor: pointer;
  color: var(--color-text-primary);
}

a:link:active,
a:visited:active {
  color: var(--color-text-primary);
}

button {
  border-radius: 2px;
  color: var(--color-text-primary);
  font-family: var(--font-oswald);
}

input:focus-visible,
textarea:focus-visible {
  outline-color: var(--color-primary);
  background-color: var(--background-color);
  font-family: var(--font-roboto);
}

input,
textarea {
  background-color: var(--background-color);
  color: var(--color-text-primary);
  font-family: var(--font-roboto);
  caret-color: var(--color-text-primary);
}

input::placeholder,
textarea::placeholder {
  color: var(--color-text-placeholder);
  font-size: 0.7rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: var(--color-text-primary);
  -webkit-box-shadow: 0 0 0px 1000px var(--background-color) inset;
  transition: background-color 5000s ease-in-out 0s;
  font-family: var(--font-roboto);
}
