.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 1rem;
}

.form:focus-visible {
  outline: initial;
}

.button {
  margin: 0.5rem 0 !important;
  border: none;
  background-color: var(--color-primary);
  padding: 0.5rem !important;
  color: var(--color-text-bg-dark);
  text-transform: uppercase;
  cursor: pointer;
  transition: 0.3s linear;
}

.button:hover {
  background-color: var(--color-primary-hover);
}

.info {
  color: var(--color-text-primary);
  font-size: 0.6rem;
}

.info:nth-child(1) {
  padding: initial;
  margin: initial;
  border: none;
  background-color: transparent;
  color: var(--color-primary);
  cursor: pointer;
  transition: 0.3s linear;
}

.info:nth-child(1):hover {
  color: var(--color-primary-hover);
}
