.form {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  margin: 0 1rem;
}

.form:focus-visible {
  outline: initial;
}

.button {
  border: none;
  background-color: var(--color-primary);
  padding: 0.5rem !important;
  color: var(--color-text-bg-dark);
  text-align: center;
  cursor: pointer;
}
